schema/equipment/equipment_defaults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="equipment">
        <xsd:complexType>
            <xsd:sequence>
                        
                <xsd:element name="component" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>

                            <xsd:attribute name="name" type="xsd:string" use="required" />
                            <xsd:attribute name="group" type="xsd:string" use="required" />

                    </xsd:complexType>
                </xsd:element>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>